/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
  --blue: #0F33FF;
  --white: #fff;
  --black: #12141C;
  --nav: #1D1F23;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: var(--black);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.glow-on-hover {
    width: 280px;
    height: 60px;
    border: none;
    outline: none;
    color: var(--black);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
}

.hero-button {
  font-size: 20px;
  font-weight: 600;
  margin-right:  350px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--blue);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background:  #1D1F23;
  overflow-y: auto;
}
#header .profile img {
	margin: 20px auto;
	display: block;
	width: 140px;
	border: 8px solid #2c2f3f;
}
#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
#header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a {
  font-size: 20px;
  display: inline-block;

  background: white;
  color: var(--black);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#header .profile .social-links a:hover {
  background-color: var(--black);
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a, .nav-menu a:focus {
  display: flex;
  align-items: center;
  color:   #6f7180;
 
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;

  
}
.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
  color:  white;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: var(--blue);
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  
background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../img/hero-bg.jpg") top center;
  background-size: cover;
  
}
#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}
#hero h1 {
  margin: 90px 0px 30px 360px;
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}


#hero  {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
#hero p {
  margin: 0 0 30px 360px;
  font-size: 21px;
  font-weight: 300;
}
#hero h1 span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--blue);
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    margin: 0;
    padding: 0px 0px 0px 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
}
#hero p {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 30px;
  font-size: 16px;
  
}
  .hero-button {
    font-weight: 500;
    margin: auto;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--blue);
  bottom: 0;
  left: 0;
}
.section-title p {
  
  font-size: 19px;
}


/*--------------------------------------------------------------
# Timeline
--------------------------------------------------------------*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color:  white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.timecontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.timecontainer p {
 font-size:  18px;
}

/* The circles on the timeline */
.timecontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid  var(--blue);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.timecontent {
  padding: 20px 30px;
  background-color: white;
  color: black;
  position: relative;
  border-radius: 6px;

}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media (max-width: 768px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .timecontainer {
  width: 100%;
  padding-left: 70px;
  padding-right: 0px;
  }
  
  .timecontainer p {
    font-size:  16px;
   }
  /* Make sure that all arrows are pointing leftwards */
  .timecontainer::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right timecontainers behave like the left ones */
  .right {
  left: 0%;
  }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services{
  background-color: white;
  color: var(--black);
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .box {
  background-color: #12141c;
  overflow: hidden;
  transition: .3s ease;
  border-radius: 20px;
}

.services .box i {
  color: white;
  transition:inherit;
  transition-delay: 0s;
   margin-bottom: 30px;
 display: flex;
 justify-content: center;

}

.services h4 {
  color: #fff;
  transition: inherit;
  transition-delay: .05s;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  font-size: 27px;
}
.services p {
  color: #dfdfdf;
  transition: inherit;
  transition-delay: .1s;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}


.box:hover .readmore span {
  transform: translateX(0%);
}
.box:hover .readmore:before {
  animation: ts-link-arrow-effect-animation-in;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(.6, .01, 0, 1);
}
.box:hover i,
.box:hover h4,
.box:hover p {
  transform: translateY(-0.625rem);
}
@keyframes ts-link-arrow-effect-animation-out {
  0% {
      transform-origin: right center;
      transform: scaleX(.2);
  }

  70% {
      transform-origin: right center;
  }

  71% {
      transform-origin: left center;
      transform: scaleX(1);
  }

  100% {
      transform-origin: left center;
      transform: scaleX(.2);
  }
}
@keyframes ts-link-arrow-effect-animation-in {
  0% {
      transform-origin: left center;
      transform: scaleX(.2);
  }

  70% {
      transform-origin: left center;
      transform: scaleX(1);
  }

  71% {
      transform-origin: right center;
  }

  100% {
      transform-origin: right center;
      transform: scaleX(.2);
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about{
  background-color: white;
  color: var(--black)
}
#about h2{
  color: var(--black);
}

@media screen and (max-width: 650px) {

  #about p{
      font-size: 16px;
      letter-spacing: 0.2;
  }
}
 
/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
 
 
 
 
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#work{
   background-color: var(--black);
   color: var(--black);
}
#work h2 {
  color:  white;
  margin-top: 15px;
  font-size: 32px;
}
#work  h1 {
  color:  var(--black);
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
}

#work p {
  font-size: 17px;
}
 .work-button{
   font-weight: bold;
   font-size: 20px;
 }

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
  margin-bottom: 35px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
 
/* 
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact{
  background-color: var(--black);
  color: #eef1f5; 
}
#contact h2{
  color: white; 
}
.contact {
  padding-bottom: 130px;
}
.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .info i {
  font-size: 20px;
  color: white; 
  float: left;
  width: 44px;
  height: 44px;
  background:  var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
	padding: 9px 0px 0px 63px;
	font-size: 20px;
	font-weight: 600;
	color: white;
	word-spacing: 0px;
	letter-spacing: 2px;
}
 

 

/* skills */
#skills{
  background-color: var(--black);
  color: white;
}
#skills h2{
 
  color: white;
}
/*--------------------------------------------------------------
# Newsletter
--------------------------------------------------------------*/

.subme{
  height: 20vh;
  margin-top: 150px;
  margin-bottom: 150px;
}


.subme h4 {
  text-align: center;
  font-weight: 800;
  font-size: 26px;
 
}

.subme p {
  text-align: center;
  font-size: 18px;
}

.sub-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 330px;
}
  
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}
.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
  
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}


/* 
hover effect */

.card-container {
  position: relative;
  cursor: pointer;

}

.card-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--black);
}

.card-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size:23px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}